<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="A list of websites use Meson CDN" />
    <meta
      name="keywords"
      content="Meson Network, Meson Network Users, Decentralized CDN"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Powered By Meson</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <script
      defer
      data-domain="poweredbymeson.com"
      src="https://app .axshelf.com/js/app.js"
    ></script>
  </head>
  <body>
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-6 flex-col md:flex-row items-center"
      >
        <a
          href="index.html"
          class="flex title-font font-medium items-center text-gray-900 mb-2 md:mb-0"
        >
          <span class="ml-0 text-xl text-white">🔌 PoweredByMeson</span>
        </a>
      </div>
    </header>
    <section class="text-gray-600 body-font">
      <div class="container px-8 py-20 mx-auto">
        <div
          class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto"
        >
          <h1
            class="flex-grow sm:pr-16 text-2xl font-medium title-font text-yellow-500"
          >
            Currently 13 projects use
            <br />
            <a href="./ind-x.html" rel="prefetch">
              <img
                id="image"
                class="mesonicon cerchio trigger-audio js-cursor-wrap"
                src="./images/meson-favicon-inverted.png"
                alt="meson-favicon-inverted"
              />
            </a>
            <audio id="sound-hover" style="display:none;" controls="controls" preload="auto">
              <source src="./effect.ogg"></source>
           </audio>
            <a href="https://meson.network" target="_parent">Meson CDN</a> to
            distribute their content worldwide
          </h1>
          <a
            href="https://m-cdn.io/register"
            target="_blank"
            class="bg-transparent hover:bg-yellow-500 text-yellow-500 font-bold hover:text-white py-1 px-16 border border-cyan-500 hover:border-transparent rounded mt-4"
            >LET'S TRY</a
          >
        </div>
      </div>
    </section>
    <div id="app">
      <div class="search-wrapper">
        <input type="text" v-model="search" placeholder="🔎 Search Project.." />
      </div>
      <div class="wrapper">
        <div class="card" v-for="post in filteredList">
          <a v-bind:href="post.link" target="_blank">
            <img v-bind:src="post.img" loading="layz" alt="" /> {{ post.title }}
            <small>{{ post.type }}</small>
          </a>
        </div>
      </div>
    </div>
    <div class="md:ml-16 flex flex-wrap items-center text-base justify-center">
      <a
        href="./addnew.html"
        class="mr-5 mt-10 text-white hover:text-yellow-500"
        >Missing project? ADD HERE</a
      >
    </div>
    <footer class="text-gray-600 body-font">
      <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <span class="ml-3 text-xl text-white">PoweredByMeson</span>
        </a>
        <p
          class="text-sm text-white sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          <a
            href="https://meson.guru"
            class="text-gray-600 ml-1"
            rel="noopener noreferrer"
            target="_blank"
            >Meson.Guru</a
          >
          <span id="year"></span>
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a class="ml-3 text-gray-500">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewbox="0 0 24 24"
            >
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewbox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path
                d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
        </span>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.9/vue.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js'></script><script  src="./script.js"></script>
    <script src="./main.js"></script>
    <script src="./extra.js"></script>
  </body>
</html>
