html,
body {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 25px;
  background: #1b2430;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

div#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div#app .search-wrapper label {
  position: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  top: auto;
  left: auto;
  z-index: -1;
  transition: 0.15s all ease-in-out;
}

div#app .search-wrapper input {
  padding: 6px 4px;
  border-radius: 20px;
  border: 1px solid #54bab9;
  margin-right: 23px;
  transition: 0.15s all ease-in-out;
  background: transparent;
}

div#app .search-wrapper input:focus {
  outline: none;
  transform: scale(1.15);
}

div#app .search-wrapper input:focus + label {
  font-size: 10px;
  transform: translateY(-24px) translateX(-12px);
}

div#app .searwrapper input::-webkit-input-placeholder {
  font-size: 14px;
  color: #f4f4f4;
  font-weight: 100;
}

div#app .wrapper {
  display: -webkit-flex;
  max-width: 800px;
  flex-wrap: wrap;
  margin-left: 45px;
  padding-top: 40px;
}

div#app .card {
  box-shadow: #54bab9 0px 2px 4px 0px, #18978f 0px 2px 16px 0px;
  max-width: 128px;
  margin: 10px;
  position: relative;
  left: 25px;
  transition: 0.15s all ease-in-out;
  border-radius: 20px;
}

div#app .card:hover {
  transform: scale(1.1);
}

div#app .card a {
  text-decoration: none;
  padding: 12px;
  color: #f39422;
  text-transform: full-width;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#app .card a img {
  height: 100px;
  padding-bottom: 5px;
}

div#app .card a small {
  font-size: 10px;
  padding: 2px;
  padding-top: 3px;
  color: wheat;
  text-transform: uppercase;
}