html,
body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  background: #1b2430;
  cursor: url(cursor.png), auto;
}

a:link {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

div#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div#app .search-wrapper label {
  position: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  top: auto;
  left: auto;
  z-index: -1;
  transition: 0.15s all ease-in-out;
}

div#app .search-wrapper input {
  padding: 5px 4px;
  border-radius: 20px;
  border: 1px solid #54bab9;
  transition: 0.15s all ease-in-out;
  background: transparent;
}

div#app .search-wrapper input:focus {
  outline: none;
  transform: scale(1.15);
}

div#app .search-wrapper input:focus+label {
  font-size: 10px;
  transform: translateY(-24px) translateX(-12px);
}

div#app .search-wrapper input::-webkit-input-placeholder {
  font-size: 14px;
  color: #f4f4f4;
  font-weight: 100;
}

div#app .wrapper {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  padding-top: 1rem;
}

div#app .card {
  box-shadow: #54bab9 0px 2px 4px 0px, #18978f 0px 2px 16px 0px;
  max-width: 128px;
  margin: 12px;
  position: relative;
  left: 25px;
  transition: 0.15s all ease-in-out;
  border-radius: 20px;
}

div#app .card:hover {
  transform: scale(1.1);
}

div#app .card a {
  text-decoration: none;
  padding: 8px;
  white-space: nowrap;
  color: #f39422;
  text-transform: full-width;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#app .card a img {
  height: 100px;
}

div#app .card a small {
  font-size: 10px;
  padding: 2px;
}

div#app .box {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}


.mesonicon {
  width: 40px;
  display: inline;
  margin-right: 0px;
  border-radius: 25%;
  -webkit-animation: shine 6s linear 0s infinite alternate;
}

@-webkit-keyframes shine {
  0% {
    box-shadow: 0 0 60px 20px red, 25px 15px 50px 10px yellow, -5px -25px 30px 5px deeppink;
  }

  100% {

    box-shadow: 0 0 90px 20px blue, 35px 20px 40px 10px purple, -30px -30px 40px 5px green;
  }
}


.mesonicon-easteregg {
  width: 40px;
  display: inline;
  margin-right: 0px;
  border-radius: 25%;
  -webkit-animation: shine-egg 6s linear 0s infinite alternate, beat 0.35s;

}

@-webkit-keyframes shine-egg {
  0% {
    box-shadow: 0 0 60px 20px red, 25px 15px 50px 10px yellow, -5px -25px 30px 5px deeppink;
  }

  100% {

    box-shadow: 0 0 90px 2000px blue, 35px 2000px 400px 1000px purple, -30px -30px 400px 5000px green;
  }
}

@keyframes beat {
  50% {
    transform: scale(1.3);
  }

}

